@model Parameters

<div class="container">

    <form>
        <div class="form-group">
            <div class="row">
                <div class="col-2">
                    @Html.LabelFor(m => m.PresonalData.Height, "Wzrost")
                </div>
                <div class="col">
                    @Html.EditorFor(m => m.PresonalData.Height, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="row">
                <div class="col-2">
                    @Html.LabelFor(m => m.PresonalData.Weight, "Waga")
                </div>
                <div class="col">
                    @Html.EditorFor(m => m.PresonalData.Weight, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="row">
                <div class="col-2">
                    @Html.LabelFor(m => m.PresonalData.Age, "Wiek")
                </div>
                <div class="col">
                    @Html.EditorFor(m => m.PresonalData.Age, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="row">
                <div class="col-2">
                    @Html.LabelFor(m => m.PresonalData.Gender, "Wybierz płeć")
                </div>
                <div class="col">
                    <div class="row">
                        <div class="col-10">
                            @Html.RadioButtonFor(m => m.PresonalData.Gender, "1") Kobieta
                        </div>
                        <div class="col-7">
                            @Html.RadioButtonFor(m => m.PresonalData.Gender, "2") Mężczyzna
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="row">
                <div class="col-2">
                    @Html.LabelFor(m => m.FatLevel.LifeStyle, "Wybierz styl życia")
                </div>
                <div class="col">
                    @Html.DropDownListFor(m =>
                       m.FatLevel.LifeStyle,
                        new SelectList(new List<string>() {
                            "Nieaktywny (brak ćwiczeń)",
                            "Mało aktywny (lekkie ćwiczenia)",
                            "Średnio aktywny (wysiłek 3–5 razy tygodniowo)",
                            "Aktywny (wysiłek 6–7 razy w tygodniu)",
                            "Bardzo aktywny (ćwiczenia i praca fizyczna)"
                        }), new { @class = "form-control" }
                    )
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="row">
                <div class="col-2">
                    @Html.LabelFor(m => m.FatLevel.HipSize, "Obwód bioder")
                </div>
                <div class="col">
                    @Html.EditorFor(m => m.FatLevel.HipSize, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="row">
                <div class="col-2">
                    @Html.LabelFor(m => m.FatLevel.WaistSize, "Obwód talii")
                </div>
                <div class="col">
                    @Html.EditorFor(m => m.FatLevel.WaistSize, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="row">
                <div class="col-2">
                    @Html.LabelFor(m => m.Params.IfSelected, "Wybierz parametry do obliczenia")
                </div>
                <div class="col">
                    <div class="flex-sm-grow-1">
                        @Html.EditorFor(m => m.Params.IfSelected)
                        @Html.LabelFor(m => m.Params.IfSelected, "BMI")
                    </div>
                    <div class="flex-sm-grow-1">
                        @Html.CheckBoxFor(m => m.Params.IfSelected)
                        @Html.LabelFor(m => m.Params.IfSelected, "CPM")
                    </div>
                    <div class="flex-sm-grow-1">
                        @Html.CheckBoxFor(m => m.Params.IfSelected)
                        @Html.LabelFor(m => m.Params.IfSelected, "Poziom tkanki tłuszczwej")
                    </div>
                </div>
            </div>
        </div>

        <div class="container mb-4">
            <input type="submit" value="Oblicz parametry" class="btn btn-primary" />
        </div>

    </form>

</div>
