@model ParameterResults

<div class="container" style="margin-top:30px">
    <hr />
    @{char none = '-'; }
    <div class="form-group">
        <div class="row">
            <div class="col-2">
                @Html.LabelFor(m => m.BmiLabel, "Twoje BMI") 
            </div>
            <div class="col">
                @if (@Model.Bmi != 0 && !(Double.IsNaN(@Model.Bmi)))
                {
                    @Model.Bmi <br />
                    @Model.BmiLabel
                }
                else
                {
                    @none;
                }
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="row">
            <div class="col-2">
                @Html.LabelFor(m => m.Cmp, "Dzienne spożycie kalorii")
            </div>
            <div class="col">
                @if(@Model.Cmp != 0 && !(Double.IsNaN(@Model.Cmp)))
                {
                @Model.Cmp 
                }
                else
                {
                    @none;
                }
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="row">
            <div class="col-2">
                @Html.LabelFor(m => m.Protein, "Białko [g]")
            </div>
            <div class="col">
                @if (@Model.Protein != 0 && !(Double.IsNaN(@Model.Protein)))
                {
                    @Model.Protein
                }
                else
                {
                    @none;
                }
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="row">
            <div class="col-2">
                @Html.LabelFor(m => m.Carbohydrate, "Węglowodany [g]")
            </div>
            <div class="col">
                @if (@Model.Carbohydrate != 0 && !(Double.IsNaN(@Model.Carbohydrate)))
                {
                    @Model.Carbohydrate
                }
                else
                {
                    @none;
                }
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <div class="col-2">
                @Html.LabelFor(m => m.Fat, "Tłuszcz [g]")
            </div>
            <div class="col">
                @if (@Model.Fat != 0 && !(Double.IsNaN(@Model.Fat)))
                {
                    @Model.Fat
                }
                else
                {
                    @none;
                }
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="row">
            <div class="col-2">
                @Html.LabelFor(m => m.Whr, "WHR")
            </div>
            <div class="col">
                @if (@Model.Whr != 0 && !(Double.IsNaN(@Model.Whr)))
                {
                    @Model.Whr <br />
                    @Model.WhrLabel
                }
                else
                {
                    @none;
                }
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="row">
            <div class="col-2">
                @Html.LabelFor(m => m.FatLevel, "Procentowa zawartość tkanki tłuszczowej")
            </div>
            <div class="col">
                @if (@Model.FatLevel != 0 && !(Double.IsNaN(@Model.FatLevel)))
                {
                    @Model.FatLevel
                }
                else
                {
                    @none;
                }
            </div>
        </div>
    </div>

</div>