@model ParameterResults

<div class="container" style="margin-top:30px">
    <div class="divider"></div>
    
    <div class="form-group">
        <div class="row">
            <div class="col-2">
                @Html.LabelFor(m => m.BmiLabel, "Twoje BMI") 
            </div>
            <div class="col">
                @Model.Bmi  <br/>
                @Model.BmiLabel
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="row">
            <div class="col-2">
                @Html.LabelFor(m => m.Cmp, "Dzienne spożycie kalorii")
            </div>
            <div class="col">
                @Model.Cmp
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="row">
            <div class="col-2">
                @Html.LabelFor(m => m.Protein, "Białko [g]")
            </div>
            <div class="col">
                @Model.Protein
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="row">
            <div class="col-2">
                @Html.LabelFor(m => m.Carbohydrate, "Węglowodany [g]")
            </div>
            <div class="col">
                @Model.Carbohydrate
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <div class="col-2">
                @Html.LabelFor(m => m.Fat, "Tłuszcz [g]")
            </div>
            <div class="col">
               @Model.Fat
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="row">
            <div class="col-2">
                @Html.LabelFor(m => m.Whr, "WHR")
            </div>
            <div class="col">
                @Model.Whr <br />
                @Model.WhrLabel
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="row">
            <div class="col-2">
                @Html.LabelFor(m => m.FatLevel, "Procentowa zawartość tkanki tłuszczowej")
            </div>
            <div class="col">
                @Model.FatLevel
            </div>
        </div>
    </div>

</div>