@using Dietician.Enums
@model ChangeMenu

<div class="container">

    <div class="row days">
        <div class="col">
            @Html.Label("Wybierz dzień")
        </div>

        <div class="divider"></div>

    </div>



    <table>
        <tbody>
            <tr class="row">
                <td>@Html.CheckBoxFor(m => Model.Monday, new { @checked = Model.Monday })</td>
                <td>@Html.LabelFor(m => Model.Monday, "Poniedziałek")</td>
            </tr>
            <tr class="row">
                <td>@Html.CheckBoxFor(m => Model.Tuesday, new { @checked = Model.Tuesday })</td>
                <td>@Html.LabelFor(m => Model.Tuesday, "Wtorek")</td>
            </tr>
            <tr class="row">
                <td>@Html.CheckBoxFor(m => Model.Thursday, new { @checked = Model.Thursday })</td>
                <td>@Html.LabelFor(m => Model.Thursday, "Środa")</td>
            </tr>
            <tr class="row">
                <td>@Html.CheckBoxFor(m => Model.Wednesday, new { @checked = Model.Wednesday })</td>
                <td>@Html.LabelFor(m => Model.Wednesday, "Czwartek")</td>
            </tr>
            <tr class="row">
                <td>@Html.CheckBoxFor(m => Model.Friday, new { @checked = Model.Friday })</td>
                <td>@Html.LabelFor(m => Model.Friday, "Piątek")</td>
            </tr>
            <tr class="row">
                <td>@Html.CheckBoxFor(m => Model.Saturday, new { @checked = Model.Saturday })</td>
                <td>@Html.LabelFor(m => Model.Saturday, "Sobota")</td>
            </tr>
            <tr class="row">
                <td>@Html.CheckBoxFor(m => Model.Sunday, new { @checked = Model.Sunday })</td>
                <td>@Html.LabelFor(m => Model.Sunday, "Niedziela")</td>
            </tr>
        </tbody>
    </table>

</div>

<style>
    td {
        padding-left: 15px;
    }
</style>