@model List<Variants>


<div class="container">
    @if (Model.Count == 0)
    {
        <div class="row">
            Brak zapisanych jadłospisów.
        </div>
    }
    else
    {
        @for (int i =0; i<Model.Count; i++)
        {
          <fieldset id="group1">
            <div class="row mb-2">
                <div class="col">
                    @if (i == 0)
                    {
                        <input type="radio" id="@Model[i].Name" name="radio" value="@Model[i].Selected" checked />
                    }
                    else
                    {
                        <input type="radio" id="@Model[i].Name" name="radio" value="@Model[i].Selected" />
                    }

                    @Html.LabelFor(m => Model[i].Name, @Model[i].Name)
                </div>
                <div class="col">
                    -
                </div>
            </div>
          </fieldset>
        }
    }
</div>
